# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=anonymous:anonymous-ai-chat

VITE_CONVEX_URL=http://127.0.0.1:3210

# Your Sentry DSN (from your Sentry account)
VITE_SENTRY_DSN=

# Your Sentry organization (from your Sentry account)
VITE_SENTRY_ORG=

# Your Sentry project (from your Sentry account)
VITE_SENTRY_PROJECT=

VITE_SERVER_URL=

# Your Sentry authentication token (from your Sentry account)
SENTRY_AUTH_TOKEN=

# AI Provider
ANTHROPIC_API_KEY=
VERCEL_API_KEY=

# Email Provider
RESEND_API_KEY=

# Auth Provider
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=