# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=anonymous:anonymous-ai-chat

VITE_SITE_URL="http://localhost:5173"

# Your Sentry DSN (from your Sentry account)
VITE_SENTRY_DSN=

# Your Sentry organization (from your Sentry account)
VITE_SENTRY_ORG=

# Your Sentry project (from your Sentry account)
VITE_SENTRY_PROJECT=

# Your Sentry authentication token (from your Sentry account)
SENTRY_AUTH_TOKEN=

# AI Provider
ANTHROPIC_API_KEY=
VERCEL_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=

# Email Provider
RESEND_API_KEY=
RESEND_FROM_EMAIL="AI Chat <onboarding@anolilab.com>"

# Auth Provider
# Both keys need to have the same value
VITE_BETTER_AUTH_SECRET=

# Payment provider
POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL="success?checkout_id={CHECKOUT_ID}"
POLAR_WEBHOOK_SECRET=