CONVEX_DEPLOYMENT=anonymous:anonymous-ai-chat

VITE_DEBUG=false

# HTTP Actions URL
VITE_CONVEX_SITE_URL="http://127.0.0.1:3211"

VITE_SITE_URL="http://localhost:5173"

# AI Provider
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=

# Email Provider
RESEND_API_KEY=
RESEND_FROM_EMAIL="AI Chat <onboarding@anolilab.com>"

# Payment provider
POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL="success?checkout_id={CHECKOUT_ID}"
POLAR_WEBHOOK_SECRET=

# posthog
VITE_PUBLIC_POSTHOG_KEY=<ph_project_api_key>
VITE_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

# Both Keys can be generated with the following command:
# pnpm run env:generate-encryption
# BETTER_AUTH_SECRET=
# ENCRYPTION_KEY=